:root {
	--green: rgb(81, 106, 93);
}

body {
	margin: 0 auto;
	max-width: 960px;
	min-width: 360px;
}

header {
	display: block;
	border-bottom: 1px solid var(--green);
}

#logo {
	display: block;
	margin: 10% auto;
}

.inputs {
	margin: 10px 0 0 0;
	display: flex;
	justify-content: space-between;
}

.inputs input {
	padding: 5px 0;
	flex-basis: 18%;
}

button {
	background-color: white;
	border: 1px solid var(--green);
	margin: 10px 0;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	color: var(--green);
}

button:hover {
	background-color: var(--green);
	border: 1px solid var(--green);
	margin: 10px 0;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	color: white;
}
