:root {
	--green: rgb(81, 106, 93);
	--greenLine: rgba(81, 106, 93, 0.1);
}

body {
	margin: 0 auto;
	padding: 5px;
	max-width: 960px;
	min-width: 360px;
}

header {
	padding: 50px 0;
	display: block;
	border-bottom: 1px solid var(--green);
}

#logo {
	display: block;
	margin: 0% auto;
}

button {
	background-color: white;
	border: 1px solid var(--green);
	margin: 10px 0;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	color: var(--green);
}

button:hover {
	background-color: var(--greenLine1);
	border: 1px solid var(--green);
	margin: 10px 0;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

.product * {
	box-sizing: border-box;
}
.product {
	max-width: 960px;
	min-width: 320px;
	display: flex;
	align-items: center;
	margin: 1em 0;
	border: 1px solid rgb(81, 106, 93);
}

.product_image {
	width: 100px;
	padding: 5px;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 140px;
}
.product_image img {
	display: flex;
	max-height: 100px;
	max-width: 100px;
	margin: auto;
}
.product_list {
	padding: 5px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 300px;
}
.product_select {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto 10px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100px;
}
.product_select input {
	text-align: center;
	width: 70px;
	margin: auto;
	padding: 10px;
}

.product_select button {
	width: 70px;
}

/* admin inputs */
.inputs {
	margin: 10px 0 0 0;
	display: flex;
	justify-content: space-between;
}

.inputs input {
	padding: 5px 0;
	max-width: 180px;
	min-width: 70px;
	width: 18vw;
}

/* user inputs */
#product_order {
	margin: 0;
}
#product_order ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
#product_order ul:nth-child(odd) {
	background-color: var(--greenLine);
}

#product_order li {
	margin: 5px 0;
	flex-basis: 30%;
}
